<form [formGroup]="addBalanceForm" class="addBalanceForm" (ngSubmit)="onSubmit()">
  <h3>Add balance (Reactive form)</h3>
  <label>
    Name:
    <input type="text" formControlName="name">
  </label>

  <div formArrayName="amounts" class="amounts">
    <h3>Amounts</h3> <button type="button" (click)="addAmount()">Add amount</button>
    <br><br>
    <div class="list" *ngFor="let amount of amounts.controls; let i=index">
      <label>
        Amount:
        <input type="text" inputmode="decimal" [formControlName]="i" appCurrencyFormat="{{currencyCode}}">
      </label>
      <button type="button" (click)="deleteAmount(i)">delete</button>
      <br>
    </div>
  </div>
  <br>
  <button type="submit" class="orange-btn" [disabled]="!addBalanceForm.valid">Submit</button>
  <p>
    {{formDataJson}}
  </p>
</form>