<my-modal #formDataModal>
  <form (ngSubmit)="submit()" #addDataForm="ngForm">
    <label for="customerName">Enter your name</label>
    <input required name="customerName" [(ngModel)]="customerData.name" type="text" placeholder="Enter your name">
    <br>
    <label for="customerEmail">Email</label>
    <input type="text" #contactemail="ngModel" name="customerEmail" required
      pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" [(ngModel)]="customerData.email">
    <br>
    <div class="flex-space-between" style="max-width:320px">
      <div class="form-controll">
        <label for="customerAmount">Amount</label>
        <input name="customerAmount" inputmode="decimal" required type="text" appCurrencyFormat="{{currencyCode}}" [(ngModel)]="customerData.amount">
      </div>&nbsp;
      <div class="form-controll">
        <label for="customerCurrency">Currency</label>
        <select name="customerCurrency" [ngModel]="customerData.currency" (change)="onSelect($event)">
          <option *ngFor="let key of keys" [value]="key">{{currencies[key]}}</option>
        </select>
      </div>
    </div>
    <br>
    <button [disabled]="!addDataForm.form.valid" type="submit" class="orange-btn">Submit</button>
  </form>
</my-modal>