ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 15px;
}

li {
  cursor: pointer;
  color: #fff;
  background: #673AB7;
  padding: 10px 15px;
  border-radius: 5px;
}

li.active,
li:hover {
  background: #3751e1;
}

li+li {
  margin-left: 5px;
}

.delete {
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-shadow: 0 1px 0 #000;
  filter: alpha(opacity=20); 
  cursor: pointer;
}

@media(max-width:700px) {
  ul {
    display: block;
  }
  li+li {
    margin-left: 0;
    margin-top: 15px;
  }
}