<ul>
  <li [class.active]="item==activeItem" *ngFor="let item of list" (click)="select(item)">{{item.name}} - ({{item.amount | currencyPipe:2:(item.currency | currencyCode) }})&nbsp;<button (click)="delete(item)" class="delete" type="button"><span>×</span></button></li>
</ul>