<div class="modal fade" id="myModal" [ngClass]="{'in':fadeIn==true}" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" [attr.id]="id" [hidden]="show==false" tabIndex="1" (keydown)="keyPress($event)">
  <div class="modal-dialog" role="document" [attr.parentid]="id">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">{{ title }}</h4>
        <button type="button" class="close" (click)="close()"><span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <ng-content></ng-content>
      </div>
      <div class="modal-footer" *ngIf="footer==true">
        <button class="btn btn-primary" (click)="submit()"><span>Submit</span></button>
        <button class="btn btn-default" (click)="close()"><span>Cancel</span></button>
      </div>
    </div>
  </div>
</div>