header {
  background: #23123a;
  padding-top: 25px;
}

header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  list-style: none;
  padding: 0;
  margin: 0;
}

header li a {
  color: #23123a;
  text-decoration: none;
  padding:10px 15px
}

header li a.active {
  font-weight: 600;
}
