<header>
  <section class="bg-white">
    <div class="wrapper">
      <ul>
        <li  *ngFor="let item of menuList">
          <a [routerLink]="[ item.link ]" routerLinkActive="active">{{item.name}}</a>
        </li>
      </ul>
    </div>
  </section>
</header>
<div class="content">
  <div [@routeAnimations]="o && o.activatedRouteData 
  && o.activatedRouteData['animation']">
    <router-outlet #o="outlet"></router-outlet>
  </div>
</div>
<br>
<footer>
  <div class="wrapper"></div>
</footer>
<br>