* {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
}

body {
  background: #f1f5f8;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.bg-white {
  background: #fff;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding:15px;
}

.orange-btn {
  padding: 10px 15px;
  background: #ff5200;
  border: 0;
  border-radius: 5px;
  color: #fff;
  margin-top: 15px;
  width: 100%;
  font-size: 18px;
  cursor: pointer;
  outline: none;
  transition: 0.5s;
  display: block;
  text-align: center;
  color: #fff;
  text-decoration: none;
}

.orange-btn:hover {
  background: #d94c09;
}

select, input {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

select.ng-invalid, input.ng-invalid {
  border-color: #F44336;
  outline: 0;
}

select.ng-invalid:focus, input.ng-invalid:focus {
  border-color: #F44336;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(244, 67, 54, 0.43);
}

select:focus, input:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}

label {
  display: block;
  margin-bottom: 5px;
}

button[type="submit"] {
  max-width: 200px;
  margin: 0 auto;
}

button[disabled] {
  background: #ccc;
  pointer-events: none;
}

i.edit {
  background: url('./assets/img/edit.png');
  width: 32px;
  height: 42px;
  display: block;
}