<section class="bg-blue background">
  <div class="wrapper">
    <h1>Do the right thing.</h1>
  </div>
</section>
<section class="banner">
  <div class="wrapper">
    <h2>Credit Opportunities With Good Approval Odds</h2>
    <div class="banner-content">
      <header class="flex-space-between">
        <h3>Barclaycard CashForward<span>&trade;</span> WorldMasterCard <span>&trade;</span></h3>
        <div class="review flex-space-between">
          <div class="stars">
            <img src="assets/img/stars.png" alt="stars">
          </div>
          <small>3,252 Reviews</small>
        </div>
      </header>
      <div class="flex-space-between card-data-container">
        <div class="card-image">
          <div class="flex-space-between">
            <img src="./assets/img/card.png" alt="">
            <div class="text">
              Approval<br>Odds
              <span>Very Good</span>
            </div>
          </div>
          <button class="orange-btn" (click)="add()">Apply Now</button>
        </div>
        <ul *ngIf="!customerData">
          <li>
            Get a $100 cash rewards bonus after you spend $500 in purchases in the first 90 days after account oppening.
          </li>
          <li>
            Earn unlimited 1.5% cash rewards on every purchase.
          </li>
          <li>
            Earn unlimited 1.5% cash rewards on every... <a href="javascript:;">show more</a>
          </li>
        </ul>
        <div class="flex-space-between customer-data" *ngIf="customerData" >
          <ul>
            <li><strong>Name:</strong> {{customerData?.name}}</li>            
            <li><strong>Amount:</strong> {{customerData?.amount | currencyPipe:2:(customerData?.currency | currencyCode) }}</li>
            <li><strong>Currency:</strong> {{customerData?.currency | currencyCode }}</li>
          </ul>
          <div class="edit-remove">
            <button (click)="edit()"><i class="edit"></i></button>
          </div>
        </div>
      </div>
      <app-customers-list [activeItem]="customerData" [list]="_appService.customersList" (onSelect)="onSelectCustomer($event)" (onDelete)="onDeleteCustomer($event)"></app-customers-list>
      <br>
      <hr>
      <br>
      <footer>
        <a href="javascript:;">See Details Rates & Fees</a>
      </footer>
    </div>
  </div>
</section>
<section>
  <router-outlet></router-outlet>
</section>