.card-image img {
  max-width: 170px;
}

section.background {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#00369b+0,4e6fd3+100 */
  background: rgb(0, 54, 155);
  /* Old browsers */
  background: -moz-linear-gradient(left, rgba(0, 54, 155, 1) 0%, rgba(78, 111, 211, 1) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(0, 54, 155, 1) 0%, rgba(78, 111, 211, 1) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(0, 54, 155, 1) 0%, rgba(78, 111, 211, 1) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00369b', endColorstr='#4e6fd3', GradientType=1);
  /* IE6-9 */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 100%;
  position: relative;
}

section.background .wrapper {
  display: flex;
  align-items: center;
  height: 400px;
  position: relative;
}

section.background:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.40);
}

h1 {
  font-size: 72px;
  color: #fff;
  text-shadow: 0px 1px #000;
}

.banner h2 {
  font-size: 32px;
}

.banner-content {
  padding: 50px;
  background: #fff;
  border-radius: 4px;
}

.banner-content h3 {
  font-weight: normal;
}

.banner-content .review img {
  vertical-align: middle;
  margin-right: 15px;
}

.banner-content .card-image {
  width: 300px;
  margin-right: 30px;
  flex-shrink: 0;
}

.banner-content .card-image .text {
  text-align: center;
}

.banner-content .card-image .text span {
  padding: 15px;
  border-radius: 25px;
  background: #61dad2;
  color: #fff;
  clear: both;
  display: block;
  padding: 5px 15px;
  margin-top: 15px;
}

.banner-content ul {
  flex-basis: 60%;
}

.banner-content ul>li+li {
  margin-top: 15px;
}

footer a, .banner-content ul a {
  text-decoration: none;
  color: #2196F3;
}

.customer-data {
  flex-basis: 60%;
}

.customer-data ul {
  padding: 0;
  margin: 0;
  font-size: 32px;
  list-style: none;
}

.edit-remove button {
  background: none;
  border: none;
  cursor: pointer;
}

@media(max-width:700px) {
  .banner-content header, .card-data-container {
    display: block;
    margin-bottom: 15px;
  }
  .banner-content .card-image img, .banner-content .card-image {
    margin-bottom: 15px;
  }
  h1 {
    font-size: 32px;
  }
  .banner h2 {
    font-size: 21px;
  }
  section.background .wrapper {
    height: 200px;
  }
}

@media(max-width:400px) {
  .banner-content .card-image img, .banner-content .card-image {
    margin-right: 0;
    width: 100%;
    max-width: 100%;
    margin-bottom: 15px;
  }
  .banner-content .card-image>.flex-space-between {
    display: block;
  }
}